/* General styles */

* {
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
}

/* Fixed navbar */

nav {
    padding: 1rem;
    text-align: center;
    background-color: rgba(0, 0, 0, .9);
}

nav a {
    display: block;
    font-size: 1rem;
    line-height: 2rem;
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #999;
    transition: color .3s ease-in-out;
}

.signUp:hover {
    color: #000;
    background-color: #fff;
    transition: background-color .3s ease-in-out;
}

.signUp {
    border: 1px solid #555;
    border-radius: 999999px;
}

/* Article styles */

article {
    padding: 1rem;
}

/***** MEDIA QUERIES *****/

@media (min-width: 768px) {

    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        padding: 1rem 2rem;
    }

    nav a {
        float: right;
        width: 7rem;
    }

    .home {
        float: left;
    }

    /* Clearfix */
    nav::after {
        content: "";
        clear: both;
        display: block;
      }

    article {
        transform: translate(0, 80px);
        padding: 0 20% 2%;
    }

}